<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
        {{ siteName }}
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% set requestURI = app.request.pathInfo != '/' ? app.request.pathInfo : '/products' %}
            {% for label, link in menuItems %}
                <li class='nav-item'>
                    <a class='nav-link{{ (requestURI matches '|^\/' ~ link|trim('s', 'right') ~ '|') ? ' active' }}' href='/{{ link }}'>{{ label }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="login display-flex text-light mr-2">
            {% if isUserSignedIn %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hallo {{ currentUser.username }}!
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--<a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>-->
                        <form class="dropdown-item" action="/logout" method="post">
                            <button class="btn btn-danger w-100">Logout</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <a class="btn btn-primary my-2 mr-2 my-sm-0" href="/login">Login</a>
            {% endif %}
        </div>
        <form class="form-inline mt-2 mt-md-0" method="post" action="/products/search">
            <input class="form-control mr-sm-2" type="text" placeholder="Produkte suchen" aria-label="Suchen" name="search_string">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suchen</button>
        </form>
    </div>
</nav>