{% macro render(product, title, button_text, back_link, method) %}
{% set action = product.getId() is not null ? '/product/' ~ product.getId() : '/products' %}
    <h1>Produkte
        {{ title ? ('&#187; ' ~ title)|raw : '' }}
    </h1>
    <a href="{{ back_link ? back_link : '/products' }}">Zurück</a>
    <hr>
    <!-- /.col-lg-3 -->
    <div class="row">
        <form method="post" id="product-form" action="{{ action }}" enctype="multipart/form-data" class="ml-4 col-md-6">
            <input type="hidden" name="_method" value="{{ method }}">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control" placeholder="Produktname eingeben" name="name" value="{{ product.get('name') }}">
            </div>
            <div class="form-group">
                <label for="invnr">Inventarnummer</label>
                <input id="invnr" type="text" class="form-control" placeholder="Inventarnummer eingeben" name="invNr" value="{{ product.get('invNr') }}">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input id="type" type="text" class="form-control" placeholder="Type" name="type" value="{{ product.get('type') }}" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="desc">Beschreibung</label>
                <textarea id="desc" class="form-control textarea" name="description" placeholder="Beschreibung eingeben">{{ product.get('description') }}</textarea>
            </div>
            <div class="form-group">
                <label for="note">Anmerkung</label>
                <textarea id="note" class="form-control textarea" name="note" placeholder="Anmerkung eingeben">{{ product.get('note') }}</textarea>
            </div>
            <div class="form-group">
                <h5>Produktbilder</h5>
                <ul class="productimages row">
                    {% if product %}
                        {% for image in product.images() %}
                            <li class="col col-md-3" id="image-{{ image.getId() }}">
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteImage({{ image.getId() }})">x</button>
                                <img src="{{ image.get('src') }}" alt="{{ image.get('title') }}" class="d-block w-100">
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <input type="file" name="add-productImage[]" multiple="multiple">
            </div>
            <hr/>
            <button type="submit" name="submit" class="btn btn-primary">{{ button_text ? button_text : 'Speichern' }}</button>
        </form>
        {% if product.isCreated() %}
            <form method="post" action="/product/{{ product.getId() }}" class="pl-4">
                <h5>Produkt löschen</h5>
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">Löschen</button>
            </form>
        </div>
    {% endif %}
    <script src="/src/js/auto-complete.min.js"></script>
    <script>
        $(document).ready(function() {
            $.getJSON('/products/category.json', {}, function(data) {
                data = data.filter(function(item) {
                    return item.name !== null;
                }).map(function(item) {
                    return item.name;
                });

                new autoComplete({
                    selector: '#type',
                    minChars: 0,
                    source: function(term, suggest) {
                        term = term.toLowerCase();
                        var matches = [];
                        for (i = 0; i < data.length; i++) {
                            if (data[i].toLowerCase().indexOf(term) > -1)
                                matches.push(data[i]);
                            }

                        suggest(matches);
                    }
                });
            });

            window.deleteImage = function(id) {
                $.ajax({
                    url: '/images/' + id + '.json',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    method: "delete",
                    success: function(response) {
                        $("#image-" + id).remove();
                    },
                    error: function(err) {
                        alert(err.responseText);
                    }
                })
            }
        });
    </script>
{% endmacro %}